<div class="timeline-screen" ng-init="init()" ng-controller="MessageTimelineCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span><i style="font-size:1.5em; color:#ff4955" class="far fa-comment-alt"></i></span>
                    Message Timeline Application
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
                <p class="navbar-text navbar-right">Signed in as {{ user.firstName }} {{ user.lastName }}</p>
            </div>
        </div>
    </nav>
    <div class="container">
        <span class="text-danger">{{ error }}</span>
        
        <div class="col-md-offset-3 col-md-6 new-message">
            <form class="form-post-message">
                <textarea type="text" ng-model="newMessage.text" class="form-control" placeholder="Message" required />
                <input type="hidden" ng-model="newMessage.user" value="{{user}}" ng-init="newMessage.user=user">
                <button class="btn btn-primary" type="submit" ng-click="addMessage(newMessage)">New Message</button>
            </form>
        </div>

        <div class="col-md-12">
            <hr/>
        </div>

        <div ng-repeat="message in messages">
            <div class="col-md-offset-3 col-md-6 message">
                <div class="row message-user">
                    <i class="fas fa-user"></i>
                    <strong>{{ message.user.firstName }} {{ message.user.lastName }}:</strong>
                </div>
                <div class="row message-text">
                    <p>{{ message.text }}</p>
                </div>
                <div ng-repeat="reply in message.replies">
                    <div class="col-md-12 reply">
                        <div class="row reply-user">
                            <i class="fas fa-users"></i>
                            <strong>{{ reply.user.firstName }} {{ reply.user.lastName }}:</strong>
                        </div>
                        <div class="row reply-text">
                            <p>{{ reply.text }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="form-post-reply">
                        <textarea type="text" ng-model="newReply.text" class="form-control" placeholder="Reply" required />
                        <input type="hidden" ng-model="newReply.user" value="{{user}}" ng-init="newReply.user=user">
                        <input type="hidden" ng-model="newReply.message" value="{{message}}" ng-init="newReply.message=message">
                        <button class="btn btn-primary" type="submit" ng-click="reply(newReply)">Reply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
